html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

html {
  user-select: none;
  padding: 0;
}

body {
  padding: 2vw;
}

#o {
  display: grid;
  grid-template-rows: auto calc(96vw * 1.12) auto;
  gap: 2vw;
  height: 100%;
}

#x {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5vw;
}

table {
  width: 100%;
  aspect-ratio: 1 / 1.15;
  border-spacing: 0;
  table-layout: fixed;
  border-radius: 20px;
  border: 8px solid rgb(51, 18, 18);
  overflow: hidden;
  box-sizing: border-box;
}

td {
  text-align: center;
  font-weight: bold;
  font-size:5vw;
  position: relative;
}

#blackSide {
  color: black;
  transform: rotate(180deg);
}

#whiteSide {
  color: white;
  
}

#blackSide, #whiteSide {
  font-size: 10vw;
  font-weight: bold;
  padding: 2vw;
  border-radius: 20px;
  background-color:gray;
  opacity: 0.95;
  transition: opacity 0.3s;
}

#full {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

#fullscreen {
  width: 8vw;
}

.opacityDown { opacity: 0.3 !important }

.whiteBoard { background-color: rgb(236, 238, 212) }
.blackBoard { background-color: rgb(179, 148, 99) }
.movableLocation { background-color: aqua }

.whitePiece {
  color: white;
}
.blackPiece {
  color: black;
  transform: rotate(180deg);
}

.choosableWhite:hover {
  background-color: rgb(188, 190, 168);
  cursor: pointer;
}
.choosableBlack:hover {
  background-color: rgb(134, 111, 74);
  cursor: pointer;
}

.possibleURL { background-color: rgb(192, 192, 192) }
.impossibleURL { background-color: white }

.hideEle { display: none !important }
.showEle { display: absolute !important }

.touch {
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
  opacity: 1;
  font-size: 6vw;
  font-weight: bold;
  color: cadetblue;
}

.text {
  background-image: url("../../imgs/chess-pieces.png");
  aspect-ratio: 1 / 1;
  /* background-size: 600% 200%; */
  background-size: 0 0;
  background-position: 0% 0%;
}

.eaten {
  font-size: 3vw;
}

.whiteNighQueen {
  background-image: url("../../imgs/백마탄여왕.png") !important;
}

.blackNighQueen {
  background-image: url("../../imgs/흑마탄여왕.png") !important;
}

#shower {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  background-color: rgba(128, 128, 128, 0.621);
  width: 85vw;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  transform: translate(-50%, -50%) rotate(0deg);
  text-align: center;
}

#promotionWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: rgb(128, 128, 128);
  width: 80vw;
  aspect-ratio: 16 / 9;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 6fr;
  visibility: hidden;
}

h1 {
  margin: 0;
}

#promotionGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

#promotionGrid div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  border: 1px solid rgb(0, 81, 255);
  background-color: rgba(0, 0, 255, 0.165);
  transition: background-color 0.5s;
}

#promotionGrid div:hover {
  background-color: rgba(0, 0, 255, 0.394);
}

#special {
  visibility: hidden;
}

.align {
  display: flex;

}

.timer {
  margin-left: auto;
}

#undo {
  position: absolute;
  width: 15vw;
  font-size: 5vw;
  opacity: .3;
  bottom: 0;
  right: 0;
}

.customPieces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 4vw;
  height: 100%;
  gap: 1vw;
}

.customPieces div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.customPieces div:hover {
  background-color: rgb(85, 85, 85) !important;
}

.custom {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 2vw;
}