html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

html {
  user-select: none;
  padding: 0;
}

body {
  padding: 2vw;
}

#o {
  display: grid;
  grid-template-rows: auto calc(96vw * 1.12) auto;
  gap: 2vw;
  height: 100%;
}

#x {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5vw;
}

table {
  width: 100%;
  aspect-ratio: 1 / 1.12;
  border-spacing: 0;
  table-layout: fixed;
  border-radius: 20px;
  overflow: hidden;
}

td {
  text-align: center;
  font-weight: bold;
  font-size:5vw;
  position: relative;
}

#blackSide {
  color: black;
  transform: rotate(180deg);
}

#whiteSide {
  color: white;
  
}

#blackSide, #whiteSide {
  font-size: 10vw;
  font-weight: bold;
  padding: 2vw;
  border-radius: 20px;
  background-color: rgb(148, 182, 101);
  opacity: 0.95;
  transition: opacity 0.3s;
}

#full {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

#fullscreen {
  width: 8vw;
}

.opacityDown { opacity: 0.3 !important }

.whiteBoard { background-color: rgb(236, 238, 212) }
.blackBoard { background-color: rgb(179, 148, 99) }
.movableLocation { background-color: aqua }

.whitePiece {
  color: white;
  text-shadow: 1px 1px 5px black;
}
.blackPiece {
  color: black;
  text-shadow: 1px 1px 5px white;
  transform: rotate(180deg);
}

.choosableWhite:hover {
  background-color: rgb(188, 190, 168);
  cursor: pointer;
}
.choosableBlack:hover {
  background-color: rgb(134, 111, 74);
  cursor: pointer;
}

.possibleURL { background-color: rgb(183, 206, 150, .7) }
.impossibleURL { background-color: white }

.hideEle { display: none !important }
.showEle { display: absolute !important }

.touch {
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
  opacity: .3;
  font-size: 6vw;
  font-weight: bold;
  color: rgb(84, 134, 235);
}