html, body {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
}

body {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

table {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-spacing: 0;
  table-layout: fixed;
}

td {
  text-align: center;
  font-weight: bold;
  font-size:5vw;
}

#blackSide {
  color: black;
  transform: rotate(180deg);
}

#whiteSide {
  color: white;
}

#blackSide, #whiteSide {
  font-size: 10vw;
  background-color: gray;
  font-weight: bold;
  padding: 2vw;
}

.whiteBoard { background-color: rgb(236, 238, 212) }
.blackBoard { background-color: rgb(116, 150, 84) }
.movableLocation { background-color: aqua }

.whitePiece {
  color: white;
  text-shadow: 1px 1px 5px black;
}
.blackPiece {
  color: black;
  text-shadow: 1px 1px 5px white;
  transform: rotate(180deg);
}

.whitePiece:hover {
  color: rgb(212, 233, 243);
}
.blackPiece:hover {
  color: rgb(56, 60, 80);
}